<div class="jumbtron">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="form-group">
        <label for="tradeId" class="control-label">Trade</label>
        <select class="custom-select form-control" name="TradeId" [(ngModel)]="tradeId" (change)="tradeChanged()">
          <option value="0">All</option>
          <option *ngFor="let trade of trades" value={{trade.TradeId}}>
            {{trade.TradeName}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="form-group">
        <label for="levelId" class="control-label">Level</label>
        <select class="custom-select form-control" name="LevelId" [(ngModel)]="levelId">
          <option value="0">All</option>
          <option *ngFor="let level of filterdLevels" value={{level.LevelId}}>
            {{level.LevelName}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2">
      <label class="control-label">&nbsp;&nbsp;</label>
      <button class="btn button btn-success btn-md btn-block" type="button" (click)="searchTests()">Search</button>
    </div>
    <div class="col-lg-3 col-md-1 col-sm-1"></div>
    <div class="col-lg-2 col-md-3 col-sm-3">
      <label class="control-label">&nbsp;&nbsp;</label>
      <button class="btn button btn-primary btn-md btn-block" type="button" (click)="showTest(content)">Add New Test</button>
    </div>
  </div>
  <br />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">Syllabus</th>
        <th scope="col">Trade</th>
        <th scope="col">Level</th>
        <th scope="col">Uploaded Syllabus</th>
        <th scope="col">Uploaded Test Plan</th>
        <th scope="col">Languages</th>
        <th scope="col">Active Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let test of tests">
        <th scope="row"><button class="btn button btn-danger btn-sm btn-block" type="button" (click)="showTest(content, test.TestId)">Edit</button></th>
        <td>{{ test.SyllabusName }}</td>
        <td>{{ test.TradeName }}</td>
        <td>{{ test.LevelName }}</td>
        <td><a href="" onclick="return false;" (click)="downloadFile(test.TestId, test.SyllabusFileName, 1)">{{ test.SyllabusFileName }}</a></td>
        <td><a href="" onclick="return false;" (click)="downloadFile(test.TestId, test.TestPlanFileName, 2)">{{ test.TestPlanFileName }}</a></td>
        <td>{{ test.LanguageCodes }}</td>
        <td>{{ test.ActiveDate | date }}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="justify-content-start">
        <label>{{ dataInfo }}</label>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="d-flex justify-content-end">
        <ngb-pagination [collectionSize]="collectionSize" [maxSize]="5" [(page)]="pageNo" [pageSize]="pageSize" (pageChange)="getTests()">
          <ng-template ngbPaginationPrevious>Previous</ng-template>
          <ng-template ngbPaginationNext>Next</ng-template>
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <form [formGroup]="formModel" autocomplete="off" (submit)="onsubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="TradeId" class="control-label required">Trade</label>
            <select class="custom-select form-control" name="TradeId" formControlName="TradeId" [(ngModel)]="model.TradeId" (change)="childTradeChanged()" required>
              <option value="0">Please Select</option>
              <option *ngFor="let trade of trades" value={{trade.TradeId}}>
                {{trade.TradeName}}
              </option>
            </select>
            <app-field-error-display [displayError]="isFieldValid('TradeId')" errorMsg="Please Select Trade">
            </app-field-error-display>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="LevelId" class="control-label required">Level</label>
            <select class="custom-select form-control" name="LevelId" formControlName="LevelId" [(ngModel)]="model.LevelId" required>
              <option value="0">Please Select</option>
              <option *ngFor="let level of filterdChildLevels" value={{level.LevelId}}>
                {{level.LevelName}}
              </option>
            </select>
            <app-field-error-display [displayError]="isFieldValid('LevelId')" errorMsg="Please Select Level">
            </app-field-error-display>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
          <div class="flex-container flex-wrap">
            <div class="form-group">
              <label for="LanguageSelected" class="control-label required">Language</label>
              <div class="flex-container">
                <div *ngFor="let control of languageArray.controls; let i=index;"
                     class="flex-container align-center multi-checkbox">
                  <input class="chkbox" type="checkbox" [formControl]="control" (change)="changeLanguageState()" value="x">
                  {{ languages[i].LanguageName }}
                </div>
              </div>
              <app-field-error-display [displayError]="isFieldValid('LanguageSelected')" errorMsg="Please Select at least one Language">
              </app-field-error-display>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="SyllabusName" class="control-label required">Syllabus Name</label>
            <input class="form-control" name="SyllabusName" formControlName="SyllabusName" [(ngModel)]="model.SyllabusName" required>
            <app-field-error-display [displayError]="isFieldValid('SyllabusName')" errorMsg="Syllabus Name is required">
            </app-field-error-display>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="DevelopmentOfficer" class="control-label required">Development Officer</label>
            <input class="form-control" name="DevelopmentOfficer" formControlName="DevelopmentOfficer" [(ngModel)]="model.DevelopmentOfficer" required>
            <app-field-error-display [displayError]="isFieldValid('DevelopmentOfficer')" errorMsg="Development Officer is required">
            </app-field-error-display>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="Manager" class="control-label required">Manager</label>
            <input class="form-control" name="Manager" formControlName="Manager" [(ngModel)]="model.Manager" required>
            <app-field-error-display [displayError]="isFieldValid('Manager')" errorMsg="Manager is required">
            </app-field-error-display>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="ActiveDate" class="control-label required">Active Date</label>
            <div class="input-group">
              <input name="ActiveDate" class="form-control" formControlName="ActiveDate" [(ngModel)]="model.ActiveDate" ngbDatepicker placeholder="YYYY-MM-DD" #d="ngbDatepicker" required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
            <app-field-error-display [displayError]="isFieldValid('ActiveDate')" errorMsg="Active Date is required">
            </app-field-error-display>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="SyllabusFile" class="control-label required">Syllabus File</label>
            <kendo-upload name="SyllabusFile" [multiple]="false" [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [restrictions]="restrictions" formControlName="SyllabusFile" (success)="successEventHandler($event, 1)">
              <kendo-upload-messages select="Choose File" uploadSelectedFiles="File Uploaded" clearSelectedFiles="File Removed"></kendo-upload-messages>
            </kendo-upload>
            <app-field-error-display [displayError]="isFieldValid('SyllabusFile')" errorMsg="Syllabus File must be uploaded">
            </app-field-error-display>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group" [ngClass]="displayFieldCss('TestPlanFile')">
            <label for="TestPlanFile" class="control-label required">Test Plan File</label>
            <kendo-upload name="TestPlanFile" [multiple]="false" [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [restrictions]="restrictions" formControlName="TestPlanFile" (success)="successEventHandler($event, 2)">
              <kendo-upload-messages select="Choose File" uploadSelectedFiles="File Uploaded" clearSelectedFiles="File Removed"></kendo-upload-messages>
            </kendo-upload>
            <app-field-error-display [displayError]="isFieldValid('TestPlanFile')" errorMsg="Test Plan File must be uploaded">
            </app-field-error-display>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-lg-1 col-md-2 col-sm-3 btnAction">
        <button class="btn button btn-primary btn-md btn-block" type="submit">Save</button>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-3 btnAction">
        <button class="btn button btn-secondary btn-md btn-block" type="button" (click)="resetForm()" *ngIf="isNewTest">Clear</button>
      </div>
      <div class="col-lg-10 col-md-8 col-sm-6"></div>
    </div>
  </form>
</ng-template>
