.flex-container {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.multi-checkbox {
  margin: 0px 5px;
}

.text-center {
  text-align: center;
}

.element {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  margin-left: 15px;
  label {
    text-align: left;
    margin: 0px 10px;
    padding: 10px 0px;
  }
}

.chkbox {
  margin: inherit !important;
}

.btnAction {
  padding-left: 0px;
}

.modal-footer {
  padding-left: 2em;
}
